<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>港约,寻找志同道合</title>
    <link rel="icon" type="image/gif" href="../static/img/xjtu.gif" />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="../static/js/bootstrap.min.js"></script>
</head>

<body style="background:url(./static/img/main-bg-compressor.jpg) no-repeat center center; background-size:cover;">
    <form action="/sign_in" method="POST" id="form1">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-3 column">
                </div>
                <div class="col-md-6 column">
                    <br><br><br><br><br>
                    <div class="d-flex flex-column mb-3">
                        <div class="p-2 bg-success text-white">
                            <h2><strong> 登 录</strong></h2>
                        </div>
                        <div class="p-2 bg-light ">
                            <br>
                            <div class="input-group mb-3 input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                        style="width: 100px; text-align:center;margin-left:auto;margin-right:auto;display:block;">
                                        学 号：</span>
                                </div>
                                <input type="text" name="userId" id="id" onblur="regexpId();" class="form-control"
                                    placeholder="请输入学号..">
                            </div>
                            <div class="input-group mb-3 input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                        style="width: 100px; text-align:center;margin-left:auto;margin-right:auto;display:block;">
                                        密 码：</span>
                                </div>
                                <input type="password" name="userPsd" id="pass" class="form-control"
                                    placeholder="请输入密码..">
                            </div>
                        </div>
                        <div class="p-2 bg-dark ">
                            <div class="row clearfix">
                                <div class="col-md-3 column">
                                </div>
                                <div class="col-md-3 column">
                                    <!-- 要为button确定type="button"，默认为type="submit" -->
                                    <button type="button" onclick="checklogin();" class="btn btn-info btn-lg">
                                        <strong>登 录</strong>
                                    </button>
                                </div>
                                <div class="col-md-3 column">
                                    <!-- <button type="button" class="btn btn-danger btn-lg"><strong>注 册</strong></button> -->
                                    <a href="/sign_up" class="btn btn-danger btn-lg" role="button"><strong>注
                                            册</strong>
                                    </a>
                                </div>
                                <div class="col-md-3 column">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 column">
                </div>
            </div>
        </div>
    </form>
    <!-- 模态框 -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">提 示</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- 模态框主体 -->
                <div class="modal-body">
                    <p id="alerttext">学号和密码不能为空...</p>
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function regexpId() {
            let userId = document.getElementById("id").value;
            // 正则表达式10位数字学号
            const reg = /^[\d]{10}$/;
            let res = reg.test(userId);
            if (!res) {
                document.getElementById("alerttext").innerText = "学号限制为10位数字..."
                $("#myModal").modal();
            }
            return res
        }

        function checklogin() {
            let userId = document.getElementById("id").value;
            let userPsd = document.getElementById("pass").value;
            if (userId == "" || userPsd == "") {
                document.getElementById("alerttext").innerText = "学号和密码不能为空..."
                $("#myModal").modal();
            } else {
                if (regexpId()) {
                    // $.post("/sign_in", {
                    //         Id: userId,
                    //         Psd: userPsd
                    //     },
                    //     function (data, status) {
                    //         alert("数据: \n" + data + "\n状态: " + status);
                    //     });
                    $.ajax({
                        type: 'POST',
                        url: "/sign_in",
                        data: {
                            Id: userId,
                            Psd: userPsd
                        },
                        cache: false,
                        error: function (err) {
                            document.getElementById("alerttext").innerText = "无法连接到服务器，请稍后再试..."
                            $("#myModal").modal();
                            // alert("无法连接到服务器，请稍后再试...");
                        },
                        success: function (data) {
                            if (data == "User info error") {
                                document.getElementById("alerttext").innerText = "用户名或密码错误，请确认..."
                                $("#myModal").modal();
                                // alert('用户名或密码错误，请确认...');

                            } else {
                                console.log(data);
                                document.getElementById("alerttext").innerText = "登录成功，欢迎回来  " + data +
                                    "..."
                                $("#myModal").modal();
                                // document.write(data)
                                setTimeout(function () {
                                    window.location.href = 'main';
                                }, 2000);
                            }
                        }
                    });
                }
            }
        }
    </script>
</body>

</html>