<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="ScoopThemes">
    <meta name="ROBOTS" content="">
    <meta name="description" content="">
    <meta name="abstract" content="">

    <title>港约,寻找志同道合</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/animations.css">

    <!-- siimple style -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>

    <div class="cloud floating">
        <img src="../static/img/cloud.png" alt="Scoop Themes">
    </div>
    <div class="cloud pos1 fliped floating">
        <img src="../static/img/cloud.png" alt="Scoop Themes">
    </div>

    <div class="cloud pos2 floating">
        <img src="../static/img/cloud.png" alt="Scoop Themes">
    </div>

    <div class="cloud pos3 fliped floating">
        <img src="../static/img/cloud.png" alt="Scoop Themes">
    </div>


    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h1 class="subtitle">港 约</h1>
                    <br />
                    <br />
                    <h2 class="subtitle">寻找志同道合的小伙伴！</h2>
                    <br />
                    <a href="/sign_in" class="btn btn-theme">登 录</a>
                    <a href="/sign_up" class="btn btn-theme">注 册</a>
                    <br />
                </div>
            </div>
            <div class="row">
                <br />
                <br />
                <br />
                <br />
                <div class="col-lg-6 col-lg-offset-3">
                    <p class="copyright">软件工程综合训练01小组.</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>